
/******************** Titre ******************/
h1{
  text-align: center;
}
h2{
  font-family: "Shrikhand", serif; 
}
h3 {
    padding-left: 15px;
}
.menu h3:after{
      content: "";
    display: block;
    width: 40px;
    background-color: #99E2D0;
    height: 2px;
    margin-top: 5px;
}

/******************** Main disposition ******************/
header{
  text-align: center;
}


body{
  text-align: left;
  margin: auto;

}
footer{
   color: white;
   background-color: #222
}

.description {
    padding: 2em 0;
    border-radius: 20px 20px 0 0;
    background-color: lightgray;
    border: 2px solid black;
    z-index: 1;
    position: absolute;
    bottom: -5em;
    width: 100%;
    text-align: center;
}

#bloc--menus {
    background-color: lightgray;
} 

/********************  Icon ********************/

.list_icon i {
    height: 30px;
    width: 30px;
    line-height: inherit;
    /* padding-right: 10px; */
}
.list-footer div i {
    padding-right: 10px;
}


/******************** List ******************/

.fonction{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;/* 
    display: flex;
    align-items: center; */

}

.fonction:hover{
  background-color: mediumpurple;
}

.list-menu {
   background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;}

.list-footer{
    
    display: inline;
}

footer li {
    padding-bottom: 5px;
}

.list-footer div {
    display: inline-flex;
    align-items: center;
    padding: 5px 0;
}



/****************** Card ******************/

.card {
    background-size: cover!important;
    height: 280px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
    margin-bottom: 5em;
}


/******************** Images ******************/

.card img {
  border-radius: 10px 10px 0 0;
}

footer img{
  width: 20%;
  padding-bottom: 1.5em;
}


/******************** Conteneur ******************/

.contour-card{

  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 5px 10px 10px #aaa;
  color: black;
  font-size: 14px;
  text-align: left; 
  margin: 20px;

}
/* On mouse-over, add a deeper shadow */
.contour-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 5px 0;
}

@media (min-width: 1000px) {
  .restaurants{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  
}