@charset "UTF-8";
/******************** Variables ******************/
/******************** Mixins ******************/
.btn_menu_info, .prix-btn, .fav-btn {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.text_hide, .list-menu p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  font-family: "Roboto", serif;
}

h2, footer {
  text-align: left;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3.7em;
}

h2 {
  font-size: 4em;
  font-weight: bold;
  padding: 0 1em;
}

footer h2 {
  font-family: "Shrikhand", serif;
  font-size: 2em;
}

.bloc_fonctionnement h2 {
  padding: 1em 1em;
}

h3 {
  padding-left: 15px;
  font-size: 35px;
}

h4 {
  font-size: 2.5rem;
  font-weight: bold;
}

a > h4 {
  color: black;
}
a :hover {
  text-decoration: underline #99E2D0;
}

/******************** Footer ******************/
footer {
  font-size: 30px;
  color: white;
  background-color: #222;
  padding: 3em;
}
footer li {
  padding-bottom: 5px;
}
footer li:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.02);
}

.list-footer {
  display: inline;
  list-style-type: none;
}
.list-footerdiv {
  display: inline-flex;
  align-items: center;
  padding: 5px 0;
}
.list-footerdivi {
  padding-right: 2em;
  height: 20px;
  width: 20px;
  font-size: 20px;
}

/******************** Bouton ******************/
.btn:hover {
  cursor: pointer;
  box-shadow: 5px 0.2em 0.8em #6b6464;
  transition: transform 400ms;
}
.btn:hover h3:hover {
  color: black;
}

span.button_explorer {
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  padding: 20px 30px;
  border-radius: 50px;
  font-size: 35px;
}
span.button_explorer:hover {
  filter: brightness(1.35);
}

.fav-btn {
  font-size: 4em;
}

.prix-btn {
  font-size: 1em;
}
.prix-btn span {
  font-size: 1em;
  font-weight: bold;
}

.reserv-btn {
  background-color: #99E2D0;
  width: 15rem;
  margin: -1rem -16rem -1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.heart-stroke {
  width: 65px;
  height: 65px;
}

.heart-lineart {
  width: 65px;
  height: 65px;
  opacity: 0;
}
.heart-lineart:hover {
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
  transform-origin: center 60%;
  animation: heart-apparition 0.5s ease-out forwards;
}

.heart-lineart, .heart-stroke {
  position: absolute;
}

.coeur-animation {
  position: absolute;
  height: 5rem;
  right: 7rem;
}

/* path.heart {
   fill: white;
   stroke: black;
   stroke-width: 25px;
 }

 input[type=checkbox]:checked + label {
   .heart{
     animation: heartchange 1.5s ease ;
     fill:$color-secondary;
     stroke: black;
     stroke-width: 25px;
   }
 }
 */
/******************** Animation ******************/
.rotate-center, .list-menu:hover .reserv-btn--icon {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

/******************** Keyframes ******************/
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*
  @keyframes apparition {
    0%{
      transform: translateY(-100px);
    }
    50%{
      visibility: visible;
    }
    100%{
      visibility: visible;
      transform: translateY(0px);

    }

  } */
/* coeur colorer favori */
@keyframes heart-apparition {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  75% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(0.93);
  }
}
@keyframes bounce-card {
  0% {
    transform: scale(0.8);
  }
  75% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* Icone V du menu */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes slide-leftmenu {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 28%;
  }
}
html, body {
  height: 100%;
  min-height: 100%;
}

h1 {
  text-align: center;
}

h2 {
  font-family: "Shrikhand", serif;
  font-size: 4em;
}

footer h2 {
  font-family: "Shrikhand", serif;
  font-size: 2em;
}

h3 {
  padding-left: 15px;
  text-transform: uppercase;
  /* type de menu*/
}

article h3:after {
  content: "";
  display: block;
  width: 2em;
  background-color: #99E2D0;
  height: 5px;
  margin-top: 10px;
}

h4 {
  font-size: 2.6em;
  font-weight: bold;
}

/******************** Main disposition ******************/
p {
  margin: 0px;
}

header {
  text-align: center;
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 0;
}
header a {
  position: absolute;
  left: 2em;
  padding-left: 20px;
  font-size: 3em;
  color: black;
  text-decoration: none;
}

main {
  background-color: #f6f6f6;
}

body {
  text-align: left;
  margin: auto;
}

article {
  padding: 3em 0;
  animation: apparition 2s ease-out;
}

@media (min-width: 1024px) {
  article {
    min-width: 340px;
  }

  .bloc--menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.titremenu {
  display: flex;
  justify-content: space-between;
  padding-top: 4em;
  border-radius: 80px 80px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: absolute;
  bottom: -6em;
  width: 100%;
  text-align: center;
  align-items: center;
}
.titremenu h2 {
  text-align: left;
  text-indent: 1em;
}

#bloc--restaurant {
  background-color: #f6f6f6;
}

.bloc_reservation {
  text-align: center;
  padding: 4em;
  padding-bottom: 6em;
}

/********************  Icon ********************/
.list_icon i {
  height: 30px;
  width: 30px;
  line-height: inherit;
  /* padding-right: 10px; */
}

header a:before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 1em;
  vertical-align: middle;
  font-weight: 900;
  content: "";
}

.reserv-btn--icon:before {
  width: 15%;
}

/******************** List ******************/
.list-menu {
  overflow: hidden;
  display: flex;
  background-color: white;
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  transform: scale(1);
  box-shadow: 5px 0.2em 0.8em #6b6464;
  transition: transform 400ms;
  animation: apparition 0.4s cubic-bezier(0.43, 0, 0.82, 1);
  /* hover*/
}
.list-menu:nth-child(1) {
  animation-delay: 0.3s;
  z-index: 9;
}
.list-menu:nth-child(2) {
  animation-delay: 0.6s;
  z-index: 8;
}
.list-menu:nth-child(3) {
  animation-delay: 0.95s;
  z-index: 7;
}
.list-menu:nth-child(4) {
  animation-delay: 1.35s;
  z-index: 6;
}
.list-menu p {
  font-size: 2em;
  padding: 5px 10px;
}
.list-menu:hover {
  background-color: #f5edff;
  transform: scale(1.02);
}
.list-menu:hover .reserv-btn {
  margin-right: -1rem;
}
.list-menu:hover .reserv-btn--icon {
  background-color: #99E2D0;
  width: 15%;
  border-radius: 50%;
  font-size: 80px;
  height: 80px;
  width: 80px;
  color: white;
}
.list-menu:hover .reserv-btn--icon:before {
  content: "";
  font-family: "Font Awesome 5 Free";
}
.list-menu--nommenu {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-sousmenu {
  flex: 1;
}

@media (min-width: 1000px) {
  .list-menu {
    /* hover */
  }
  .list-menu:hover .reserv-btn {
    width: 7rem;
  }
  .list-menu:hover .reserv-btn--icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
  }
}
/****************** Card ******************/
.card {
  background-size: cover !important;
  height: 600px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
  margin-bottom: 6em;
  position: relative;
}
.card img {
  border-radius: 10px 10px 0 0;
}

/******************** Conteneur ******************/
.contour-card {
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 5px 10px 10px #aaa;
  color: black;
  font-size: 14px;
  text-align: left;
  margin: 20px;
}
.contour-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 5px 0;
}

/******************** Bouton ******************/
.btn:hover {
  cursor: pointer;
}

.fa-w-16 {
  cursor: pointer;
  width: 70px;
}

/*# sourceMappingURL=stylemenu.css.map */
