
/******************** Titre ******************/
h1{
  text-align: center;
}

h3 {
    padding-left: 15px;
}

.bloc_reservation {
    text-align: center;
}
/******************** Main disposition ******************/

body{
  text-align: left;
  margin: auto;
  /* text-indent: 20px; */

}

.restaurants {
    margin: 20px;
}

div {
    padding: 10px 0;
}
footer{
   color: white;

}

/********************  Icon ********************/

.list_icon i {
    height: 30px;
    width: 30px;
    line-height: inherit;
    
    .list-footer div i {
    padding-right: 10px;
    }
}

/******************** List ******************/

.button_fonction{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;/* 
    display: flex;
    align-items: center; */

}

.button_fonction:hover{
  background-color: mediumpurple;
}

.list_icon {
    display: flex;
    align-items: center;
}

.list-footer{
    
    display: inline;

    .list-footer div {
    display: inline-flex;
    align-items: center;
    padding: 5px 0;
    }
}


.bloc_fonctionnement ol{
  display: flex;
    flex-direction: column;

}
/****************** Card ******************/

.card {
  /* Add shadows to create the "card" effect */

    background-size: cover!important;
    /* width: 120px; */
    height: 280px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
}


/******************** Images ******************/

.card img {
  border-radius: 10px 10px 0 0;
}


/******************** Conteneur ******************/

.contour-card{
    
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #aaa;
    color: black;
    font-size: 14px;
    width: 90%;
    text-align: left;
    margin: 2rem auto;

    .contour-card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

}



/* Add some padding inside the card container */
.container {
  padding: 5px 0;
}

@media (min-width: 1000px) {
  .restaurants{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  
}

/******************** Bouton ******************/

.btn:hover{
  cursor: pointer;
}
span.button_explorer {
    background-color: violet;
    color: white;
    padding: 20px;
    border-radius: 30px;
}