/******************** Bouton ******************/

.btn:hover{
    cursor: pointer;
    @include black-shadow;
    h3:hover{
      color: black;
    }
    
    
  }
  
span.button_explorer {
    display: inline-block;
    background: linear-gradient(180deg, $color-secondary, $color-primary) ; 
    color: white;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 35px;
    &:hover{
      filter: brightness(1.35);
    }
  }


  .fav-btn{
    font-size: 4em;
    @extend .btn_menu_info;
   
  }

  .prix-btn {
    font-size: 1em;
    @extend .btn_menu_info;
      span{
        font-size: 1em;
        font-weight: bold;
      }
  }

  .reserv-btn {
    background-color: #99E2D0;
    width: 15rem;
    margin: -1rem -16rem -1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}
  


  .heart-stroke{
    width:$heart-size;
    height:$heart-size;
  }
  .heart-lineart{
    width:$heart-size;
    height:$heart-size;
    opacity:0;
    &:hover{
      opacity: 0;
        transform: scale(0);
        transition: transform 0.2s linear, opacity 0.2s linear;
        transform-origin: center 60%;
        animation: heart-apparition 0.5s ease-out forwards;
    }
    
  }
  .heart-lineart,.heart-stroke{
    position :absolute;
  }

  .coeur-animation {
    position: absolute;
    height: 5rem;
    right: 7rem;
}


