@import "variables";

body{
   font-family:$font-secondaire;
   }
h2, footer{
    text-align: left;
  }
  h1{
     text-align: center;
     font-weight: bold;
     font-size: 3.7em;
  }
  
  h2{
  
   font-size: 4em;
   font-weight: bold;
   
  }
  
  footer h2{
     font-family:$font-principale; 
     font-size: 2em;
  }
  .bloc_fonctionnement h2 {
     padding: 1em 1em;
  }
  
  h3 {
     padding-left: 15px;
     font-size: 35px;
  }
  h4 {
     font-size: 2.5rem;
     font-weight: bold;
  }