/******************** Bouton ******************/

.btn:hover{
    cursor: pointer;
  }
  
span.button_explorer {
    background: linear-gradient(180deg, #ef74da, #a15adc) ; 
    color: white;
    padding: 20px 30px;
    border-radius: 35px;
    font-size: 25px;
  }