/******************** Bouton ******************/

.btn:hover{
    cursor: pointer;
    color: lighten($color-primary, 10%);
      
    @include black-shadow;
    
  }
  
span.button_explorer {
    background: linear-gradient(180deg, $color-secondary, $color-primary) ; 
    color: white;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 35px;
  }


  .fav-btn{
    font-size: 4em;
    @extend .btn_menu_info;
   
  }

  .prix-btn {
    font-size: 1em;
    @extend .btn_menu_info;
      span{
        font-size: 1em;
        font-weight: bold;
      }
  }

  .reserv-btn {
    background-color: #99E2D0;
    width: 15rem;
    margin: -1rem -16rem -1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}
  
  

  
  .rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
            animation: rotate-center 0.6s ease-in-out both;
  }

  .slide-left {
    -webkit-animation: slide-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .heart-stroke{
    width:$heart-size;
    height:$heart-size;
  }
  .heart-lineart{
    width:$heart-size;
    height:$heart-size;
    opacity:0;
    &:hover{
      opacity: 0;
        transform: scale(0);
        transition: transform 0.2s linear, opacity 0.2s linear;
        transform-origin: center 60%;
        animation: heart-apparition 0.5s ease-out forwards;
    }
    
  }
  .heart-lineart,.heart-stroke{
    position :absolute;
  }

  .coeur-animation {
    position: absolute;
    height: 5rem;
    right: 10rem;
}
 /* path.heart {
    fill: white;
    stroke: black;
    stroke-width: 25px;
  }

  input[type=checkbox]:checked + label {
    .heart{
      animation: heartchange 1.5s ease ;
      fill:$color-secondary;
      stroke: black;
      stroke-width: 25px;
    }
  }
  */

