/******************** Bouton ******************/

.btn:hover{
    cursor: pointer;
  }
  
span.button_explorer {
    background: linear-gradient(180deg, $color-secondary, $color-primary) ; 
    color: white;
    padding: 20px 30px;
    border-radius: 35px;
    font-size: 25px;
  }


  .fav-btn{
    font-size: 4em;
    @extend .btn_menu_info;
   
  }

  .prix-btn {
    font-size: 1em;
    font-weight:bold;
    @extend .btn_menu_info;
  }