/******************** Animation ******************/


.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
          animation: rotate-center 0.6s ease-in-out both;
}


/******************** Keyframes ******************/

@keyframes apparition {
    from{
      opacity: 0;
      transform: translateY(-100px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
     
  }
  /* coeur colorer favori */

  @keyframes heart-apparition  { 
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  75% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity:1;
    transform: scale(0.93);
  }
}
@keyframes bounce-card  { 
  0% {
    transform: scale(0.8);
  }

  75% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}

/* Icone croix du menu */
@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  
 

 @keyframes slide-leftmenu {
    from{
      margin-right: 0%;
    }
    to{
      margin-right: 28%;
    }
  } 

 /* @keyframes heartchange {
    from{
      opacity: 0;
      fill: $color-primary;
    }
    to{
      opacity: 1;
      fill:$color-secondary;
    }
  } */