/******************** Variables ******************/

$color-primaryback:#f6f6f6;
$color-secondaryback: #f5edff;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;
$color-new: #99e2d0;

$font-principale: "Shrikhand", serif; 
$font-secondaire: "Roboto", serif; 


$heart-size:65px;
$number-size:55px;




/******************** Mixins ******************/

@mixin black-shadow ($color:#6b6464) {
    box-shadow: 5px 0.2em 0.8em $color;
    transform: scale(1.1);
  } 

@mixin appear {
  animation: apparition 0.5s ease-out forwards;
}
  
  .btn_menu_info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
   
  }

  .text_hide{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @mixin heart-size ($width:40px) {
    
    .fa-w-16{
      cursor:pointer;
      width: $width;
    }
  } 

  @mixin child-animation {
    
  &:nth-child(1) { 
    animation-delay: .3s;
    z-index: 9; 
  }
  &:nth-child(2) { 
    animation-delay: 0.6s ;
    z-index: 8;
  }
  &:nth-child(3) { 
    animation-delay: .95s ;
    z-index: 7;
   }
  } 



  @mixin new-text($color) {
    @if ( lightness($color) < 25% ) {
        $color: lighten($color, 35%);
    } @else {
        $color: darken($color, 35%);
    }
    color: $color;
}

 
 

