@import "variables/variables";
@import "mixins/mixins";
@import "base/base";
@import "buttons/buttons";
@import "animations/animations";

html,body{
  height:100%;
   min-height:100%; 
  }

h1{
    text-align: center;
  }
  h2{
    font-family: "Shrikhand", serif; 
    font-size: 4em;
  }
  footer h2{
      font-family: "Shrikhand", serif; 
      font-size: 2em;
  }
  h3 {
      padding-left: 15px;
      text-transform: uppercase; /* type de menu*/
  }
  article h3:after{
        content: "";
      display: block;
      width: 2em;
      background-color: $color-tertiaire;
      height: 5px;
      margin-top: 10px;
  }
  h4{
    font-size:2.6em;
    font-weight: bold;
  }
  /******************** Main disposition ******************/

  p{
    margin:0px;
  }
  header{
    text-align: center;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5em 0;
    }
    a {
      position: absolute;
      left: 2em;
      padding-left: 20px;
      font-size:3em;
      color: black;
      text-decoration: none;
    }
  }
  
  main{
    background-color: $color-primaryback;
  }
  body{
    text-align: left;
    margin: auto;
  
  }
  
  article {
      padding: 3em 0;
      animation: apparition 2s ease-out;
  }
  @media (min-width:1024px){
    article {
      min-width: 340px;
    }
    .bloc--menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }
  } 
  
  .titremenu {
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    border-radius: 80px 80px 0 0;
    background-color: $color-primaryback;
    z-index: 1;
    position: absolute;
    bottom: -6em;
    width: 100%;
    text-align: center;
    align-items: center;
    
      h2{
        text-align: left;
      text-indent: 1em;
      }
      
}
  
  #bloc--restaurant{
      background-color: $color-primaryback;
  } 
  
  .bloc_reservation {
      text-align: center;
      padding: 4em;
      padding-bottom: 6em;
      
  }
  /********************  Icon ********************/
  
  .list_icon i {
      height: 30px;
      width: 30px;
      line-height: inherit;
      /* padding-right: 10px; */
  }
  
  header a:before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      padding-right: 1em;
      vertical-align: middle;
      font-weight: 900;
      content: "\f060";
  }
  .reserv-btn--icon:before {
    
    width: 15%;
}
  
  /******************** List ******************/
  
  
  .list-menu {
    opacity:0;
    overflow:hidden;
    display: flex;
    background-color: white;
    border-radius: 25px;
    margin: 20px;
    padding: 15px;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    position:relative;
    transform: scale(1);
    animation: apparition 0.4s cubic-bezier(.43,0,.82,1) forwards;
    @include black-shadow;
   @include child-animation;
    p{
      font-size: 2em;
      padding: 5px 10px;
      @extend .text_hide;
    }
    &:hover {
      background-color:  #f5edff;
      transform: scale(1.02);
      .reserv-btn{
        margin-right: -1rem;
        &--icon{
        
          background-color: $color-tertiaire;
          width: 15%; 
          border-radius: 50%;
          font-size: 80px;
          height: 80px;
          width: 80px;
          color:white;
          @extend .rotate-center;
          &:before{
            content: "\f058";
          font-family: "Font Awesome 5 Free";
          }
        }
      }
    } /* hover*/
    &--nommenu {
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
   
    
  }
  
    .list-sousmenu {
      flex:1;
  }
  
  @media (min-width: 1000px){
    .list-menu{
      &:hover{
        .reserv-btn{
          width: 7rem;
          &--icon{
            font-size: 50px;
            height: 50px;
            width: 50px;
          }
        }

      } /* hover */
    }
  }
  
  /****************** Card ******************/
  
  .card {
      background-size: cover!important;
      height: 600px;
      object-fit: cover;
      transition: opacity 0.25s ease-in-out;
      margin-bottom: 6em;
      position: relative;

      img {
        border-radius: 10px 10px 0 0;
      }
      
  }

 
  
  /******************** Conteneur ******************/
  
  .contour-card{
  
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #aaa;
    color: black;
    font-size: 14px;
    text-align: left; 
    margin: 20px;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
  
  }

  
  .container {
    padding: 5px 0;
  }
  
  
  /******************** Bouton ******************/
  
  .btn:hover{
    cursor: pointer;
  }


  @include heart-size ($width:70px);